/* * {
    outline: 1px solid red !important;
} */

body {
    background-color: rgb(37, 40, 42);
}

.meme-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 32em;
}

.text-container {
    height: auto;
}

.text-container #mem1,
.text-container #mem2,
.text-container #mem3,
.text-container #mem4 {
    display: none;
    color: white;
}

.all-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 1em;
    justify-content: space-between;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 32em;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#mem1:checked ~ .container .all-container .text-container #mem1,
#mem2:checked ~ .container .all-container .text-container #mem2,
#mem3:checked ~ .container .all-container .text-container #mem3,
#mem4:checked ~ .container .all-container .text-container #mem4 {
    display: block;
    animation: fadeInOut 1s;
}

.mem-radio {
    display: none;
}

.mem-buttons {
    box-sizing: border-box;
    display: flex;
    height: auto;
    gap: 0.5em;
}

.button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    width: 1em;
    height: 1em;
}

.button:hover .test {
    background-color: rgb(255, 255, 255);
}

.test {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(43, 183, 226);
    border: none;
    cursor: pointer;
}

#mem1:checked ~ .container .all-container .mem-buttons label[for="mem1"] .test ,
#mem2:checked ~ .container .all-container .mem-buttons label[for="mem2"] .test ,
#mem3:checked ~ .container .all-container .mem-buttons label[for="mem3"] .test ,
#mem4:checked ~ .container .all-container .mem-buttons label[for="mem4"] .test {
    box-sizing: border-box;
    background-color: rgb(37, 40, 42);
    width: 1em;
    height: 1em;
    border: 0.2em solid rgb(43, 183, 226);
}

#mem1:checked ~ .container .all-container .mem-buttons label[for="mem1"]:hover .test,
#mem2:checked ~ .container .all-container .mem-buttons label[for="mem2"]:hover .test,
#mem3:checked ~ .container .all-container .mem-buttons label[for="mem3"]:hover .test,
#mem4:checked ~ .container .all-container .mem-buttons label[for="mem4"]:hover .test {
    border: 0.2em solid rgb(255, 255, 255);
}

.img {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 1em;
}

#mem1:checked ~ .img-container #mem1,
#mem2:checked ~ .img-container #mem2,
#mem3:checked ~ .img-container #mem3,
#mem4:checked ~ .img-container #mem4 {
    display: block;
    animation: fadeInOut 1s;
}

#mem1:not(:checked) ~ .img-container #mem1,
#mem2:not(:checked) ~ .img-container #mem2,
#mem3:not(:checked) ~ .img-container #mem3,
#mem4:not(:checked) ~ .img-container #mem4 {
    display: none;
}

@media (max-width: 500px) {
    .all-container {
        flex-direction: column-reverse;
    }
    
    .mem-buttons {
        margin-bottom: 1em;
    }

    body {
        margin-left: 2em;
        margin-right: 2em;
    }
}
