body {
    background-color: rgb(37, 40, 42);
}

.meme-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img {
    max-width: 100%;
    display: none;
}

 .button {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: rgb(43, 183, 226);
    border: none;
    cursor: pointer;
}

span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
    color: white;
}

.all-container {
    d
}

#mem1:checked ~ .all-container .mem-buttons label[for="mem1"],
#mem2:checked ~ .all-container .mem-buttons label[for="mem2"],
#mem3:checked ~ .all-container .mem-buttons label[for="mem3"],
#mem4:checked ~ .all-container .mem-buttons label[for="mem4"] {
    box-sizing: border-box;
    background-color: rgb(37, 40, 42);
    width: 1em;
    height: 1em;
    border: 0.2em solid rgb(43, 183, 226);
}

#mem1:checked ~ .img-container #mem1,
#mem2:checked ~ .img-container #mem2,
#mem3:checked ~ .img-container #mem3,
#mem4:checked ~ .img-container #mem4 {
    display: block;
}

#mem1:checked ~ .all-container .text-container #mem1,
#mem2:checked ~ .all-container .text-container #mem2,
#mem3:checked ~ .all-container .text-container #mem3,
#mem4:checked ~ .all-container .text-container #mem4 {
    display: block;
}

.mem-radio {
    display: none;
}